html {
    font-family: Verdana, sans-serif;
}

.panel {
    border-top: 1px solid #222;
    border-bottom: 1px solid #222;
    background: #eee;
    padding: 20px 0;
    position: relative;
}

.outer {
    /* max-width: 1008px; */
    min-width: 510px; /* one card + edges */
    height: 150px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}

.outer-edge {
    width: 200px;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
}

.left-edge {
    background-image: -webkit-linear-gradient(left, #eee, rgba(238, 238, 238, 0.8));
    left: 0;
}

.right-edge {
    background-image: -webkit-linear-gradient(right, #eee, rgba(238, 238, 238, 0.8));
    right: 0;
}

.container {
    width: 100%;
    /* height: 170px; */
    overflow-x: scroll;
    white-space: nowrap;
    position: relative;
    transform: translateZ(0);
}

.card {
    width: 100px;
    height: 150px;
    line-height: 150px;
    display: inline-block;
     background: red;
    color: white;
    margin-right: 5px;
    text-align: center;
}

.card:first-of-type {
    margin-left: 200px;
}

.card:last-of-type {
    margin-right: 200px;
}

.nav {
    text-align: right;
    margin-top: 10px;
    position: absolute;
    top: 70px;
    right: 150px;
    z-index: 2;
}

.btn {
    border: 1px solid #aaa;
    padding: 4px 10px;
    text-align: center;
    background: #ddd;
    display: inline-block;
    margin-right: 5px;
    font-weight: bold;
}

.btn:hover {
    cursor: pointer;
}
